<a href="https://colab.research.google.com/github/PEkt/LabsAnalitic/blob/main/%D0%9B%D0%B0%D0%B14_1_%D0%9F%D0%BE%D0%BF%D0%BE%D0%B2%D0%B0%D0%95_%D0%94.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Полезные ссылки

**Начало работы**

- Anaconda (дистрибутив для Python, содержащий в том числе Jupyter Notebook и сам Python): https://www.anaconda.com/download/ - рекомендуется версия Python 3.6 или больше; не забудьте выбрать нужную операционную систему!
- документация по Jupyter: https://jupyter.readthedocs.io/en/latest/
- документация по pip (для установки пакетов в Python с помощью pip install): https://pip.readthedocs.io/en/latest/
- PyCharm: https://www.jetbrains.com/pycharm/

**Общее**

- для любых вопросов: https://www.google.com/
- для (почти) любых ответов: https://stackoverflow.com/
- [a professional information and analytical resource dedicated to machine learning, pattern recognition, and data mining](http://www.machinelearning.ru/wiki/index.php?title=%D0%97%D0%B0%D0%B3%D0%BB%D0%B0%D0%B2%D0%BD%D0%B0%D1%8F_%D1%81%D1%82%D1%80%D0%B0%D0%BD%D0%B8%D1%86%D0%B0)
- A visual introduction to machine learning: http://www.r2d3.us/visual-intro-to-machine-learning-part-1/

**Python & Jupyter**

- A Crash Course in Python for Scientists: http://nbviewer.jupyter.org/gist/rpmuller/5920182
- A Gallery of interesting Jupyter Notebooks: https://github.com/jupyter/jupyter/wiki/A-gallery-of-interesting-Jupyter-Notebooks
- Markdown Cheatsheet: https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet

**pandas**

- документация: http://pandas.pydata.org/pandas-docs/stable/
- 10 minutes to pandas: https://pandas.pydata.org/pandas-docs/stable/10min.html
- Pandas Tutorial: DataFrames in Python: https://www.datacamp.com/community/tutorials/pandas-tutorial-dataframe-python
- Cheet Sheet: https://www.analyticsvidhya.com/blog/2015/07/11-steps-perform-data-analysis-pandas-python/
- Visualization: http://pandas.pydata.org/pandas-docs/stable/visualization.html

**sklearn**

- документация и многое другое: http://scikit-learn.org/stable/

**Другие библиотеки**

- matplotlib: https://matplotlib.org/users/pyplot_tutorial.html
- seaborn: http://seaborn.pydata.org/

## Лабораторная работа 4-1: работа с Pandas.

Pandas - это библиотека Python, предоставляющая широкие возможности для анализа данных. С ее помощью очень удобно загружать, обрабатывать и анализировать табличные данные с помощью SQL-подобных запросов.

In [ ]:
import pandas as pd

Основными структурами данных в Pandas являются классы Series и DataFrame. Первый из них представляет собой одномерный индексированный массив данных некоторого фиксированного типа. Второй - это двумерная структура данных, представляющая собой таблицу, каждый столбец которой содержит данные одного типа. Можно представлять её как словарь объектов типа Series.

С помощью библиотеки Pandas займемся анализом данных. Будем работать с данными о клиентах банка, который интересуется, произойдет ли просрочка платежа на 90 и более дней при выдаче кредита.

### 1
Прочтите данные из файла data.csv

*Функции, которые могут пригодиться при решении: `pd.read_csv(..., delimiter=',')`*

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving data.csv to data.csv

In [ ]:
data = pd.read_csv('data.csv')

### 2
Выведите описание прочтенных данных. 

*Функции, которые могут пригодиться при решении: `.describe()`*

In [ ]:
data.describe()

                Id  ...  NumberOfDependents
count  1350.000000  ...         1307.000000
mean    675.500000  ...            0.737567
std     389.855743  ...            1.086949
min       1.000000  ...            0.000000
25%     338.250000  ...            0.000000
50%     675.500000  ...            0.000000
75%    1012.750000  ...            1.000000
max    1350.000000  ...            8.000000

[8 rows x 12 columns]

### 3
Отобразите несколько первых и несколько последних записей.

*Функции, которые могут пригодиться при решении: `.head(), .tail()`*

*Какие параметры можно передать этим функциям?*

In [ ]:
data.head()

   Id  ...  NumberOfDependents
0   1  ...                 2.0
1   2  ...                 1.0
2   3  ...                 0.0
3   4  ...                 0.0
4   5  ...                 0.0

[5 rows x 12 columns]

In [ ]:
data.tail()

        Id  ...  NumberOfDependents
1345  1346  ...                 0.0
1346  1347  ...                 1.0
1347  1348  ...                 1.0
1348  1349  ...                 2.0
1349  1350  ...                 0.0

[5 rows x 12 columns]

### 4
Прочтите в файле `DataDictionary-ru.txt`, что означают столбцы матрицы. Какому типу принадлежит каждый столбец (вещественный, целый, категориальный)?

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving DataDictionary-ru.txt to DataDictionary-ru.txt

In [ ]:
data1= pd.read_table("DataDictionary-ru.txt", sep = ";")
data1

                        Название столбца  ... Тип данных
0                       SeriousDlqin2yrs  ...        Y/N
1   RevolvingUtilizationOfUnsecuredLines  ...          %
2                                    age  ...    integer
3   NumberOfTime30-59DaysPastDueNotWorse  ...    integer
4                              DebtRatio  ...          %
5                          MonthlyIncome  ...       real
6        NumberOfOpenCreditLinesAndLoans  ...    integer
7                NumberOfTimes90DaysLate  ...    integer
8           NumberRealEstateLoansOrLines  ...    integer
9   NumberOfTime60-89DaysPastDueNotWorse  ...    integer
10                    NumberOfDependents  ...    integer

[11 rows x 3 columns]

### 5

Заметьте, что столбец `DebtRatio` содержит неправдоподобные данные. Только значения, соответствующие известному месячному доходу, являются отношениями. Остальные – абсолютные значения месячных выплат процентов. 

Исправьте данные, сделав все значения столбца `DebtRatio` абсолютными (умножьте их на `MonthlyIncome`).  Чтобы ваша программа быстро работала на полных данных, постарайтесь не использовать цикл.

#### *Функции, которые могут пригодиться при решении:*

Обращение к элементам DataFrame:
  * элемент: `data.loc[i, 'названиеСтолбца']`
  * столбец: `data['названиеСтолбца']`
  * подматрица: `data.loc[a:b, списокНазванийСтолбцов]`

Условная индексация:
* `data.loc[data['столбец'] > 20, списокНазванийСтолбцов]`

лучше писать так:

* `i = data['столбец'] > 20`  # вектор `True` и `False`
* `data.loc[i, 'названиеСтолбца']`

У подматриц номера строк наследуются от исходной.

* `pandas.isnull(скаляр или массив)` - проверка, является ли значение неопределенным (`NaN`)
* `pandas.notnull(скаляр или массив)` - проверка, является ли значение определенным (не `NaN`)

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving data_full.csv to data_full.csv

In [ ]:
data2 = pd.read_csv("data_full.csv", sep = ',')
data2

            Id  ...  NumberOfDependents
0            1  ...                 2.0
1            2  ...                 1.0
2            3  ...                 0.0
3            4  ...                 0.0
4            5  ...                 0.0
...        ...  ...                 ...
149995  149996  ...                 0.0
149996  149997  ...                 2.0
149997  149998  ...                 0.0
149998  149999  ...                 0.0
149999  150000  ...                 0.0

[150000 rows x 12 columns]

In [ ]:
data2['DebtRatio']=data2['DebtRatio'].astype('int64')
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 12 columns):
 #   Column                                Non-Null Count   Dtype
---  ------                                --------------   -----
 0   Id                                    150000 non-null  int64
 1   SeriousDlqin2yrs                      150000 non-null  int64
 2   RevolvingUtilizationOfUnsecuredLines  150000 non-null  float64
 3   age                                   150000 non-null  int64
 4   NumberOfTime30-59DaysPastDueNotWorse  150000 non-null  int64
 5   DebtRatio                             150000 non-null  int64
 6   MonthlyIncome                         150000 non-null  float64
 7   NumberOfOpenCreditLinesAndLoans       150000 non-null  int64
 8   NumberOfTimes90DaysLate               150000 non-null  int64
 9   NumberRealEstateLoansOrLines          150000 non-null  int64
 10  NumberOfTime60-89DaysPastDueNotWorse  150000 non-null  int64
 11  NumberOfDependents                    146076 non-null  float64
dtypes: float64(3), int64(9)
memory usage: 13.7 MB

In [ ]:
data2['DebtRatio'] = data2['DebtRatio'] * data2['MonthlyIncome']
data2['DebtRatio']

0         0.000000e+00
1         0.000000e+00
2         0.000000e+00
3         0.000000e+00
4         0.000000e+00
              ...
149995    0.000000e+00
149996    0.000000e+00
149997    2.581376e+07
149998    0.000000e+00
149999    0.000000e+00
Name: DebtRatio, Length: 150000, dtype: float64

### 6

Поменяйте имя столбца на `Debt`.

*Функции, которые могут пригодиться при решении: `.rename(columns={'староеИмя':'новоеИмя'}, inplace=True)`*

In [ ]:
data2.rename(columns={'DebtRatio':'Debt'}, inplace=True)
data2

            Id  ...  NumberOfDependents
0            1  ...                 2.0
1            2  ...                 1.0
2            3  ...                 0.0
3            4  ...                 0.0
4            5  ...                 0.0
...        ...  ...                 ...
149995  149996  ...                 0.0
149996  149997  ...                 2.0
149997  149998  ...                 0.0
149998  149999  ...                 0.0
149999  150000  ...                 0.0

[150000 rows x 12 columns]

### 7

Вычислите средний ежемесячный доход и присвойте всем клиентам с неизвестным доходом полученное число.

*Функции, которые могут пригодиться при решении: `.mean()`*

*Другие описательные статистики:* https://pandas.pydata.org/pandas-docs/stable/reference/frame.html#computations-descriptive-stats

In [ ]:
data2['MonthlyIncome'].mean()

6670.221237396816

In [ ]:
data2['MonthlyIncome'] = data2['MonthlyIncome'].fillna((data2['MonthlyIncome'].mean())) 
data2['MonthlyIncome']

0          9120.000000
1          2600.000000
2          3042.000000
3          3300.000000
4         63588.000000
              ...
149995     2100.000000
149996     5584.000000
149997     6670.221237
149998     5716.000000
149999     8158.000000
Name: MonthlyIncome, Length: 150000, dtype: float64

### 8

Используя метод `groupby`, оцените вероятности невозврата кредита (`SeriousDlqin2yrs=1`) для различных значений количества иждивенцев (`NumberOfDependents`).  

Проделайте аналогичную процедуру для различных значений столбца `NumberRealEstateLoansOrLines`

*Подсказка:*
`data['столбец1'].groupby(data['столбец2']).mean()`  *-- расчет средних значений столбца1 по группам из столбца2*

In [ ]:
data2.loc[data2['SeriousDlqin2yrs']==1].groupby(data2['NumberOfDependents']).mean()

                              Id  ...  NumberOfDependents
NumberOfDependents                ...
0.0                 74753.925810  ...                 0.0
1.0                 75685.932817  ...                 1.0
2.0                 75654.660354  ...                 2.0
3.0                 78418.855436  ...                 3.0
4.0                 74686.949495  ...                 4.0
5.0                 82879.632353  ...                 5.0
6.0                 84777.416667  ...                 6.0
7.0                 77142.600000  ...                 7.0
8.0                 81824.000000  ...                 8.0

[9 rows x 12 columns]

In [ ]:
data2.loc[data2['SeriousDlqin2yrs']==1].groupby(data2['NumberRealEstateLoansOrLines']).mean()

                                         Id  ...  NumberOfDependents
NumberRealEstateLoansOrLines                 ...
0                              74750.033390  ...            0.833845
1                              75832.681223  ...            1.035372
2                              76603.330312  ...            1.061318
3                              76376.637441  ...            1.057416
4                              73161.989691  ...            1.041885
5                              72267.337349  ...            0.987952
6                              80372.937500  ...            1.042553
7                              79674.677419  ...            1.387097
8                              79747.086957  ...            0.869565
9                              76521.714286  ...            0.928571
10                             90250.600000  ...            2.200000
11                             98985.500000  ...            0.000000
12                             60917.333333  ...            1.666667
13                             78553.400000  ...            1.000000
15                             77134.333333  ...            0.000000
16                            107724.000000  ...            0.000000
17                              2496.000000  ...            2.000000
20                             98387.000000  ...            0.000000
25                            103894.000000  ...            0.000000
29                             65729.000000  ...            0.000000

[20 rows x 12 columns]

## Визуализация данных

In [ ]:
import matplotlib.pyplot as plt

#  функция, позволяющая выводить графики прямо в ноутбук
%matplotlib inline

Matplotlib позволяет удобно визуализировать табличные данные.

*Функции, которые могут пригодиться при решении:*

* Рисование:
   * `plt.plot(x, y)`  см. подробнее http://matplotlib.org/api/pyplot_api.html#matplotlib.pyplot.plot
   * `plt.show()`
   * `plt.scatter(x, y)` - график рассеяния, см. http://matplotlib.org/api/pyplot_api.html#matplotlib.pyplot.scatter
   * `plt.hist()` - гистограмма, см. http://matplotlib.org/api/pyplot_api.html#matplotlib.pyplot.hist
* Рисование нескольких графиков на одном:

  `fig, ax = plt.subplots()
   ax.hist(...)
   ax.hist(...)
   plt.show()`
   
* Логарифмическая шкала:
    * `ax.set_xscale('log')`  или `ax.set_yscale('log')`
* Ограничение области графика:
    * `ax.axis([x1, x2, y1, y2])`


### 9a

Постройте график рассеяния на осях `age` и `Debt`. Cиним отметьте клиентов без серьезных задолженностей (`SeriousDlqin2yrs = 0`) и красным — должников (`SeriousDlqin2yrs = 1`).

### 9b
Постройте на одном графике две **нормированные** плотности распределения: красную – для месячного дохода клиентов с задолженностями, синюю – для месячного дохода клиентов без задолженностей. По оси абсцисс отобразите значения до 25000.

### 9c*
Визуализируйте попарные зависимости между небинарными признаками `'age', 'MonthlyIncome', 'NumberOfDependents'`. Ограничьте при этом месячный доход значением 25000.

Какие закономерности вы можете наблюдать на получившихся графиках?

*Функции, которые могут пригодиться при решении: `pd.plotting.scatter_matrix()`*

In [ ]:
# место для кода